.userListPage {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.card-body:hover {
    width: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 30%);
    background-image: linear-gradient( 16deg, #ddccff 16%, #74fffb 80%);
    z-index: 2;
    transition: all 500ms ease-in-out;
    transform: scale(1.05);
}

.mr-15 {
    margin-right: 15px;
}