.createUserPage {
    float: left;
    width: 100%;
}

.rightBlk {
    width: 300px;
    margin: 0 auto;
}

.rightBlk .mb-15 {
    margin-bottom: 15px;
}

.user_input {
    border-radius: 5px;
    font-size: 14px;
}

label {
    font-size: 14px;
    color: #000;
}

.submit_btn {
    background-color: blueviolet;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    margin-top: 15px;
}